[submodule "libs/hump"]
	path = libs/hump
	url = https://github.com/vrld/hump.git
[submodule "libs/bump"]
	path = libs/bump
	url = https://github.com/kikito/bump.lua.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/rxi/json.lua.git
